---
import { basics } from "@cv";

const { name, label, image, location, profiles, phone, email } = basics;
const {city, region} = location
---

<section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h1>{label}</h1>
      <span>
        <!-- robar icon -->
        {city}, {region}
      </span>
      <figure>
        <img src={image} alt={name}>
      </figure>
      <footer>
        {
          email && (
            <a
            href={`mailto:${email}`}
            title={`Send an email to ${name} at ${email}`}
            target="_blank"
            rel="noopener noreferrer"
            >
              <!-- Robar icon -->
            </a>
          )
        }
      </footer>
    </div>
  </div>
</section>

<style scoped>
  .container {
  }
</style>
